<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Leatherhead Competitions - @ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/CSS/foo")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/lib")

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48115602-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <div id="site-wrapper">
        <div id="site-header">
            <div style="float: left;">
                <a class="site-logo" href="/"></a>
            </div>
            <div style="float: right; height: 77px; left: 545px; position: absolute; top: 30px;">
                <img src="~/Content/Images/Introduction.jpg" />
            </div>
            <div class="cf"></div>
        </div>
        <nav class="text-14" id="main-nav">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Results", "Index", "Results")</li>
                <li class="">@Html.ActionLink("Reports", "Index", "Reports")</li>
                <li>@Html.ActionLink("Future Events", "Index", "FutureEvents")</li>
                <li>@Html.ActionLink("Meet The Team", "MeetTheTeam", "Home")</li>
                <li>@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
                <li class="is-last">@Html.ActionLink("Dance Related", "Index", "DanceRelated")</li>
            </ul>
        </nav>
        <div id="site-content">
            <div class="main">
                @RenderBody()
            </div>
            <div class="announcements">
                <p class="sponsor">
                    Competitions sponsored by<br />
                    <a href="http://www.sparkledesignsuk.com" target="_blank">
                        <img border="0" src="~/Content/Images/SparklesDesign.jpg" />
                    </a>
                </p>
                <hr />
                <p>
                    The entrance fee is only £10.50 for Juveniles/Juniors.  Adult competitors £13.50 and all spectators, £7.50.
                </p>
            </div>
            <div class="cf"></div>
        </div>

        <div id="site-footer">
            <a href="/" class="footer-logo"></a>
            <p class="footer-copyright text-12">&copy; Robert's Design @DateTime.Today.Year</p>
        </div>
    </div>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            lhc.init();
        });
    </script>
</body>
</html>
