<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Leatherhead Competitions - @ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/CSS/foo")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/lib")

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48115602-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <div id="site-wrapper">
        <div id="site-header">
            <div style="float: left;">
                <a class="site-logo" href="/"></a>
            </div>
            <div style="float: right; height: 77px; left: 545px; position: absolute; top: 30px;">
                <img src="~/Content/Images/Introduction.jpg" />
            </div>
            <div class="cf"></div>
        </div>
        <nav class="text-14" id="main-nav">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Results", "Index", "Results")</li>
                @*<li>@Html.ActionLink("Reports", "Index", "Reports")</li>*@
                <li>@Html.ActionLink("Future Events", "Index", "FutureEvents")</li>
                @*<li>@Html.ActionLink("Horsham Results", "Index", "Horsham")</li>*@
                <li>@Html.ActionLink("Meet The Team", "MeetTheTeam", "Home")</li>
                <li>@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
                <li class="is-last">@Html.ActionLink("Dance Related", "Index", "DanceRelated")</li>
            </ul>
        </nav>
        <div id="site-content">
            <div class="main">
                @RenderBody()
            </div>
            <div class="announcements">
                @*<p class="special-announcement">
                    We will be running a raffle for Ronald McDonald as Steve and I have a great grandson in intensive care at Birmingham Children's Hospital at the moment and the family has been able to use the family facility to keep the family together over Christmas and New Year and it is sponsored by Ronald McDonald.  Each family is allocated a room to stay in overnight and Tesco's supply food for them throughout the day for free.  This is a charity funded purely by donations so if you can help us raise any funds or would like to donate a prize please get in contact.
                </p>

                    <hr />*@
                <p class="sponsor">
                    Competitions sponsored by<br />
                    <a href="http://www.sparkledesignsuk.com" target="_blank">
                        <img border="0" src="~/Content/Images/SparklesDesign.jpg" />
                    </a>
                </p>
                <hr />
                <p>
                    The entrance fee is only £13.00 for Juveniles/Juniors.  Adult competitors £16.50 and all spectators, £10.00.
                </p>

                <hr />
                <div class="entry-forms">
                    To save time when at the comp, why not download the entry forms below:
                    <p style="margin-bottom: 15px;">
                        <a href="~/Assets/Programmes/JuvJun_Entry.doc" target="_blank">Junior/juvenille entry form</a>
                    </p>
                    <p style="margin-bottom: 15px;"><a href="~/Assets/Programmes/Adults entry.doc" target="_blank">Adult entry form</a></p>
                    <p><a href="~/Assets/Programmes/Solo JuvJun entry.doc" target="_blank">Junior/juvenille entry form</a></p>
                </div>
            </div>
            <div class="cf"></div>
        </div>

        <div id="site-footer">
            <a href="/" class="footer-logo"></a>
            <p class="footer-copyright text-12">&copy; Robert's Design @DateTime.Today.Year</p>
        </div>
    </div>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            lhc.init();
        });
    </script>
</body>
</html>
