<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/lib")
</head>
<body>
    <div id="site-wrapper">
        <div id="site-header">
            <div style="float: left;">
                <a class="site-logo" href="/"></a>
            </div>
            <div style="float: right; height: 77px; left: 545px; position: absolute; top: 30px;">
                <img src="~/Content/Images/Introduction.jpg" />
            </div>
            <div class="cf"></div>
        </div>
        <nav class="text-14" id="main-nav">
            <ul>
                <li class="is-selected"><a href="/">Home</a></li>
                <li class="">@Html.ActionLink("Results", "Index", "Results")</li>
                <li class="">@Html.ActionLink("Future Events", "Index", "FutureEvents")</li>
                <li class="">@Html.ActionLink("Meet The Team", "MeetTheTeam", "Home")</li>
                <li class="">@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
                <li class="is-last">@Html.ActionLink("Dance Related", "Index", "DanceRelated")</li>
            </ul>
        </nav>
        <div id="site-content">
            <div class="main">
                @RenderBody()
            </div>
            <div class="announcements">
                <p class="sponsor">
                    Competitions sponsored by<br />
                    <a href="http://www.sparkledesignsuk.com" target="_blank">
                        <img border="0" src="~/Content/Images/SparklesDesign.jpg" />
                    </a>
                </p>
                <hr />
                <p>
                    The entrance fee is only £10.50 for Juveniles/Juniors.  Adult competitors £13.50 and all spectators, £7.50.
                </p>
            </div>
            <div class="cf"></div>
        </div>

        <div id="site-footer">
            <a href="/" class="footer-logo"></a>
            <p class="footer-copyright text-12">&copy; Robert's Design @DateTime.Today.Year</p>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
